# Instructions:

Please answer the following questions as thoroughly as possible to produce correct output and to clearly interpret the results if the question asks for it.

## Question 1 (50 points)

### Import neccessary libraries:

In [ ]:
#Answer Here

In [1]:
import pandas as pd

### Load the dataset as excel 'titanic.xls'

In [ ]:
#Answer Here

In [2]:
# Specify the file path
file_path = r'C:\Users\roser\OneDrive\HB\St Marys\Classes\BIA 662 Programming for Data Science Python\Week 8\titanic.xls'

# Load the dataset into a DataFrame
df = pd.read_excel(file_path)

# Now, 'df' contains the data from the Titanic dataset

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xd0 in position 0: invalid continuation byte

### Show the head of the dataframe and briefly explain the data

In [ ]:
#Answer Here

In [9]:
print(df.head(10))

   pclass  survived                                             name     sex  \
0     1.0       1.0                    Allen, Miss. Elisabeth Walton  female
1     1.0       1.0                   Allison, Master. Hudson Trevor    male
2     1.0       0.0                     Allison, Miss. Helen Loraine  female
3     1.0       0.0             Allison, Mr. Hudson Joshua Creighton    male
4     1.0       0.0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female
5     1.0       1.0                              Anderson, Mr. Harry    male
6     1.0       1.0                Andrews, Miss. Kornelia Theodosia  female
7     1.0       0.0                           Andrews, Mr. Thomas Jr    male
8     1.0       1.0    Appleton, Mrs. Edward Dale (Charlotte Lamson)  female
9     1.0       0.0                          Artagaveytia, Mr. Ramon    male

       age  sibsp  parch    ticket      fare    cabin embarked boat   body  \
0  29.0000    0.0    0.0     24160  211.3375       B5        S    2    NaN
1   0.9167    1.0    2.0    113781  151.5500  C22 C26        S   11    NaN
2   2.0000    1.0    2.0    113781  151.5500  C22 C26        S  NaN    NaN
3  30.0000    1.0    2.0    113781  151.5500  C22 C26        S  NaN  135.0
4  25.0000    1.0    2.0    113781  151.5500  C22 C26        S  NaN    NaN
5  48.0000    0.0    0.0     19952   26.5500      E12        S    3    NaN
6  63.0000    1.0    0.0     13502   77.9583       D7        S   10    NaN
7  39.0000    0.0    0.0    112050    0.0000      A36        S  NaN    NaN
8  53.0000    2.0    0.0     11769   51.4792     C101        S    D    NaN
9  71.0000    0.0    0.0  PC 17609   49.5042      NaN        C  NaN   22.0

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON
5                     New York, NY
6                       Hudson, NY
7                      Belfast, NI
8              Bayside, Queens, NY
9              Montevideo, Uruguay

### Return some info on the data and briefly explain what the categories mean

In [ ]:
#Answer here

### 'Describe' the main statistical features of the data

In [ ]:
#Answer here

### Include 50% to 100% percentile with 5% increments for the 'age' column in the describe method output

In [ ]:
#Answer here

### What is the 80% percentile of the 'age' column?

In [ ]:
#Answer here

### Create a sub dataframe where the age of passengers is above the 80% percentile calculated above

In [ ]:
#Answer here

### Count the number of passengers in first class

In [ ]:
#Answer here

### Create a new column called 'older than 90% percentile' where it's true/false if the passenger is older/younger than the 90% percentile

In [ ]:
#Answer here

### Group the 'fare' column by the class of passenger and get the mean fare price for each class

In [ ]:
#Answer here

### Plot the bar chart for the avg fare grouped by class

In [ ]:
#Answer here

### Getting the number of outliers: define the upper bound and lower bound for the 'fare' column at 95% or 5% and count how many passengers are considered outliers

In [ ]:
#Answer here

### Replace outliers in the dataframe by the mean of the 'fare' column

In [ ]:
#Answer here

## Question 2 (50 points)

### Load the contents of 'titanic2.csv', look at the head of the data for its structure and combine it with the previous dataframe

In [ ]:
#Answer here

In [ ]:
#Anaswer here

### Plot a scatter plot of 'age' vs 'fare' for your data and calculate the correlation between these two columns

In [ ]:
#Answer here

In [ ]:
#Answer here

### Drop 'name', 'cabin', 'boat', 'body','home.dest', 'embarked', 'ticket' columns

In [ ]:
#Answer here

# Filling missing data in 'age' column by using an educated guess:

### Write a function that takes two columns, 'age' and 'pclass', as input and depending on which pclass, if the age is NaN (command: pd.isnull(age)   ) it returns age 40, 30 or 25. For example, if input is [NaN, 1], it returns age = 40

In [ ]:
#Answer here

### Use apply to clean up age database for NaN using the function created above

In [ ]:
#Answer here

### In the 'fare' column, isolate and display the row where there is NaN

In [ ]:
#Answer here

### Using apply fuction, convert the data in 'sex' column to zeros and ones: if female, replace by 1, otherwise by 0

In [ ]:
#Answer here

### Display the top rows for 'sex' column

In [ ]:
#Answer here

### Confirm that the contents of the 'sex' column are integers by showing the type of one content (zero's index, first, etc) or using the info command

In [ ]:
#Answer here

### In 'fare' column, replace NaN with the mean of the column

In [ ]:
#Answer here

### Drop any leftover NaN in the dataframe

In [ ]:
#Answer here

### Display the head of cleaned dataframe

In [ ]:
#Answer here

# QED!