In [5]:
#The lines of code below display two real-world data sets: the first contains customer ID and their
#corresponding accounts IDs, along with account tenure in months and account type (business or 
#consumer). The second contains customer IDs and their corresponding age in years.

import pandas as pd
df1=pd.DataFrame({'custID':[1,1,2,2,2,3,3,4,4],
                  'accountID':[1,2,1,2,3,1,2,1,2],
                  'tenure_mo':[2,3,4,4,5,6,6,6,7],
                 'account_type':['BusiNESS','CONSUMER',
                                'consumer',
                                'BUSINESS',
                                'BuSIness',
                                'CONSUmer',
                                'consumer',
                                'CONSUMER',
                                'BUSINESS']},columns=['custID','accountID','tenure_mo','account_type'])
print(df1)
df2=pd.DataFrame({'custID':[1,2,3,4],
                 'cust_age':[20,35,50,85]},columns=['custID','cust_age'])
print(df2)

   custID  accountID  tenure_mo account_type
0       1          1          2     BusiNESS
1       1          2          3     CONSUMER
2       2          1          4     consumer
3       2          2          4     BUSINESS
4       2          3          5     BuSIness
5       3          1          6     CONSUmer
6       3          2          6     consumer
7       4          1          6     CONSUMER
8       4          2          7     BUSINESS
   custID  cust_age
0       1        20
1       2        35
2       3        50
3       4        85

In [4]:
#Question 1: 
#using pivot tables, write code to display the number of consumer accounts for each customer

In [6]:
#your code goes here..desired output below

        num_cons_accounts
custID
1                       1
2                       1
3                       2
4                       1

In [ ]:
#Question 2: 
#using group by methods (not pivot table), write code to display a list of only those customer IDs that
#have at least 1 business account and that are under 50 years of age.

In [3]:
#your code goes here: 
#desired output below

[1, 2]